body {
    font-family: Helvetica;
    font-size: 14px;
}

h1 {
    text-align: center;
}

p.sub-titulo {
    font-size: 20px;
}

.direita {
    text-align: right;
}

.center {
    text-align: center;
}

@page {
    background: url('https://i.imgur.com/B9K27HL.png');
}