body {
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: #233158 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#c1 {
    background: white;
    padding: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #afafaf;
}

#logo {
    max-width: 295px;
    /* Máximo da largura da imagem */
    width: 100%;
    max-height: 281px;
    /* Máximo da altura da imagem */
    min-height: 100%;
}

#div-botao,
#buscar {
    display: flex;
    justify-content: center;
    align-items: center;
}